/*************************************Contact Us *************************************/
.facebtn {
    width: 140px;
    height: 40px;
    margin-left: 16px;
    text-align: center;
    font-size: 18px;
    font-family: Myriad pro;
    color: #fff;
    padding-top: 6px;
    background-color: #6cc0b9;
    border-radius: 8px;
}

.facebtn:hover {
    width: 140px;
    height: 40px;
    margin-left: 16px;
    text-align: center;
    font-size: 18px;
    font-family: Myriad pro;
    color: #6cc0b9;
    padding-top: 6px;
    background-color: #fff;
    border: 2px solid #6cc0b9;
    border-radius: 8px;
}

div#contactworld {
    width: 100%;
    padding-left: 49px;
    padding-right: 49px;
    margin-top: 25px;
    height: 612px;
}

.leftcontact {
    width: 39.5%;
    height: 190px;
    padding: 0px;
    font-weight: bold;
    float: left;
    background-color: #f4f4f5;
}

.leftsocial {
    width: 39.5%;
    height: 150px;
    padding: 0px;
    margin-top: 18px;
    font-weight: bold;
    float: left;
    background-color: #f4f4f5;
}

.rightcontact {
    width: 59.5%;
    float: right;
    padding: 10px 0px 0px 21px;
    height: 612px;
    background-color: #f4f4f5;
}

.row.cnthead,
.row.cntheadem {
    color: #000000;
    font-family: Myriad pro;
    font-size: 24px;
    font-weight: bold;
}

.row.cnttxt {
    color: #888889;
    font-size: 12px;
}

.row.cnthead {
    padding: 10px 0px 0px 29px;
}

.row.cntheadem {
    padding: 10px 0px 0px 12px;
}

.cntaddress,
.cntaddressz,
    {
    color: #717171;
    font-family: Myriad pro;
    font-size: 16px;
}

.cntaddressz {
    margin-left: 4%;
}

.cntaddress {
    margin-left: 6%;
}

.cntdesc,
.cntdescone,
.cntdesctwo {
    font-size: 14px;
    color: #9f9f9f;
    font-style: normal;
    width: 65%;
    margin-left: 3%;
    font-weight: 400;
    word-wrap: break-word;
}

.cntdescone {
    margin-left: 5%;
}

.cntdesc {
    margin-left: 3%;
}

.cntdesctwo {
    margin-left: 7%;
}

.row.cntmap {
    padding: 15px 0px 0px 41px;
}

#contact-us-form input,
#contact-us-form textarea {
    border: 2px solid #9e9e9e;
    height: 40px;
}

#contact-us-form input.form-control.is-invalid,
#contact-us-form textarea.form-control.is-invalid {
    border: 2px solid red;
}

.contact-form-inputs {
    width: 50%;
    border-radius: 8px;
}

textarea#exampleInputmsgadd {
    height: 114px;
    width: 97%;
    border-radius: 8px;
}

::placeholder {
    color: #f6f6f6;
    font-size: 14px;
}

.ctusbtn {
    width: 97%;
    background-color: #6cc0b9;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

input#exampleInputphone {
    width: 50%;
    width: 266px;
    margin-left: -114px;
    border-radius: 8px;
}

.row.cntinput {
    padding: 0px 0px 16px 16px;
}

input#exampleInputext {
    width: 40%;
    border-radius: 8px;
}

input#exampleInputemailadd {
    width: 50%;
    border-radius: 8px;
}

#rightcontact input::placeholder {
    color: #c6c6c6;
    font-size: 1.5em;
}
