/************ about us page ******************/

/********* start of about us content *****************/
.change-italic {
    color: #4b485b;
    font-family: KittenBold;
}

div#abt-testi {
    float: left;
}

.leftabout {
    padding-top: 1rem;
}

.row.abtfirst {
    padding-left: 0px;
    padding-right: 0px;
}

.leftalignabout {
    width: 50%;
    padding-right: 2rem;
}

.rightalignabout {
    width: 50%;
    padding-left: 2rem;
}

img.img-fluid {
    width: 600px;
    height: 400px;
}

.rightalignabout img.img-fluid {
    float: right;
}

.leftalignabout img.img-fluid {
    float: left;
}

.firstcol {
    padding-top: 2rem;
}

.about-headicon {
    font-size: 25px;
    font-weight: bold;
    font-family: Myriad pro;
    color: #4b485b;
}

.about-headicon i {
    font-size: 25px;
    color: #6cc0b9;
    background-color: white;
}

.about-headzone {
    color: #4b485b;
    font-size: 14px;
}

i#about {
    font-size: 25px;
    color: #6cc0b9;
}

.about-btn,
.supp-btn,
.eventorg-btn {
    border-radius: 20px;
    background-color: #fff !important;
    color: #6cc0b9 !important;
    border: 2px solid #6cc0b9;
    font-weight: bolder;
    text-decoration: none;
}

.row.testiabthole {
    margin-left: 41%;
}

.colone {
    width: 30%;
    float: left;
}

.coltwo {
    width: 30%;
    float: left;
}

.colthree {
    width: 30%;
}

.about-btn:hover {
    border-radius: 20px;
    background-color: #6cc0b9;
    color: #fff;
    border: 2px solid #fff;
    font-weight: bolder;
    text-decoration: none;
}

.bg-about {
    background-color: #f7f7f7;
    width: 100%;
    color: #4b485b;
    font-size: 14px;
}

.imgabtf {
    width: 32%;
}

.testi-text {
    text-align: left;
    margin-left: 90px;
    float: center;

}

/********* end of about us content *****************/



/************ FAQs start ******************/
div#faq-align {
    padding-left: 34px;
    padding-right: 34px;
}

div#faq-textarea {
    padding-left: 49px;
    padding-right: 49px;
}

.bg-faq {
    background-color: #f7f7f8;
    height: 180px;
}

.box-faq {
    height: 100px !important;
    margin-top: 20px;
    color: #676868 !important;
    border: 2px solid #9e9e9e !important;
}

.form-group.blogforms {
    background-color: #f7f7f8;
    width: 1270px;
    padding-right: 25px;
    padding-left: 25px;
}

.click-faq {
    background-color: #6cc0b9;
    color: #fff;
    margin: auto;
    display: block;
    margin-top: 1rem;
    font-size: 15px;
}

#accordion .panel {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
    margin-top: -19px;
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 3px;

}

.col-md-12.globe-panel {
    padding-top: 17px;
}

#accordion .panel-title a {
    display: block;
    padding: 12px 15px;
    background: #e6e5e8;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    color: #737373;
    text-decoration: none;
    /*border: 1px solid #ececec;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    position: relative;
    transition: all 0.5s ease 0s;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.30);
}

#accordion .panel-title a.collapsed {
    box-shadow: none;
    color: #676767;
    box-shadow: 0 1px 2px rgba(43, 59, 93, 0.30);
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;

    text-align: left;
    position: absolute;
    top: 8px;
    right: 12px;
    padding-left: 8px;
    transform: rotate(179deg);
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    color: #676767;
    transform: rotate(0);
}

#accordion .panel-title a:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}

a.acc_read {
    float: right;
    color: #467bff;
    font-size: 17px;
    margin-top: -12px;
    font-family: Myraid;
}

#accordion .panel-body {
    padding: 0px 15px;
    border: none;
    font-family: Myraid bold;
    font-variant: light;
    margin-top: -16px;
    height: 215px;
    text-align: justify;
    font-size: 16px;
    color: #737373;
    background-color: #f4f4f5;
    line-height: 27px;
}

a {
    color: #457aff;

}

/************ faqs end ******************/

/************ why us starts *************/
div#whyus-align {
    min-height: 200px;
}

/*******************************media queries for about us page ******************/
@media screen and (max-width: 768px) {
    .about-headzone {
        font-size: 11px;
    }

    .about-btn {
        font-size: 6px;
    }

    .eventorg-btn {
        font-size: 6px;
    }

    .supp-btn {
        font-size: 6px;
    }
}

@media screen and (max-width: 488px) {
    .about-headzone {
        font-size: 8px;
    }

    .supp-btn {
        font-size: 5px;
        line-height: 3;
    }
}

/* CSS for our team slick slider in ABout us page */

.bg-about .slick-initialized .slick-slide {
    text-align: center;
    padding: 0 20px;
}

.bg-about .slick-initialized .slick-slide img {
    display: block;
    width: 200px;
    max-height: 200px;
    margin: auto;
}

.employee-name {
    font-size: 20px;
    font-weight: bold;
}

.employee-designation {
    font-size: 16px;
    font-weight: normal;
}

.employee-desc {
    font-size: 14px;
}

.aboutus-page {
    padding-top: 3rem;
}

.static-page-spacer {
    padding: 2rem 3rem;
}



/* Blogs related CSS here */

.blog-pic {
    width: 300px;
    height: 200px;
    margin-left: 10px;
}
