/* css for font starts */
@font-face {
    font-family: KittenBold;
    src: url(../fonts/KittenBoldTrial.ttf);
}

@font-face {
    font-family: KittenFat;
    src: url(../fonts/KittenFatTrial.ttf);
}

@font-family{
	font-family:"Myriad Web Pro Regular";
	font-family:"Myraid Pro Bold";
	font-family:"KittenBoldTrial";
	font-family:"KittenFatTrial";
	font-family:"KittenSlantTrial";
	font-family:"KittenSlantTrial";
	font-family:"KittenSwashMonolineTrial";
	font-family:"KittenSwashTrial";
	src:url("../../../assets/munasabatna_template/font/Myriad Web Pro Regular.ttf")
	src:url("../../assets/munasabatna_template/font/Myriad Pro Bold.ttf")
	src:url("../../assets/munasabatna_template/font/GemunuLibre-Bold.ttf")
	src:url("../../assets/munasabatna_template/font/GemunuLibre-ExtraBold-Bold.ttf")
	src:url("../../assets/munasabatna_template/font/GemunuLibre-ExtraLight.ttf")
	src:url("../../assets/munasabatna_template/font/GemunuLibre-Medium.ttf")
	src:url("../../assets/munasabatna_template/font/GemunuLibre-Regular.ttf")
	src:url("../../assets/munasabatna_template/font/GemunuLibre-SemiBold.ttf")
	src:url("../../assets/munasabatna_template/font/GemunuLibre-Bold.ttf")
	src:url("../../../assets/munasabatna_template/font/KittenBoldTrial.ttf")
	src:url("../../../assets/munasabatna_template/font/KittenFatTrial.ttf")
	src:url("../../../assets/munasabatna_template/font/KittenSlantTrial.ttf")
	src:url("../../../assets/munasabatna_template/font/KittenSwashMonolineTrial.ttf")
	src:url("../../../assets/munasabatna_template/font/KittenSwashTrial.ttf")
}